.Rproj.user
GSE194122_openproblems_neurips2021_cite_BMMC_processed.h5ad
padt
tadt
pbmc10k_prepared.rds
Pretrain.R
deriv_check.R
coeff_m
jacobian_input
jacobian_input_unstandardized
jacobians
lm_log.txt
mmultlog.txt
speedtest.txt
v
WJs
feature_importance_log.txt
feature_importance
model_full_neurips
training_set
Reproduce_training.R
check_model_performance.R
Compare_tissue_models.R
Check.R
ADT_CLR
ADT_raw
alternative_models.RData
feature_importance_breast
feature_importance_kidney1
feature_importance_lung
/FI_comparison_plots
Filtered_kidney_data.png
GEX_normed
GEX_normed_no_log
GEX_raw
Partition_prediction.png
Partition_predictions_groupings.png
/Prediction_evaluation_plots
sample_composition.png
Top50genes_overlap.png
Top_50genes_overlap_CD19_CD19.png
Top_50genes_overlap_CD326_EPCAM.png
Top_50genes_overlap_CD3_CD3E.png
/Tabula_sapiens_classifier_input
/Three_tissue_input_data
*.rds
.ipynb_checkpoints/TOSICA_Tutorial-checkpoint.ipynb
.ipynb_checkpoints/Python_testing_jupyter_notebook-checkpoint.ipynb
.ipynb_checkpoints/Python_testing_jupyter_notebook-checkpoint.ipynb
.Rhistory
.Rhistory
3TModel_test_gex_normed.txt
3TModel_test_metadata_celltype.txt
3TModel_test_predicted_ADT.txt
3TModel_prediction_vs_true/Error_waterfall.png
.ipynb_checkpoints/Python_testing_jupyter_notebook-checkpoint.ipynb
3TModel_test_true_ADT.txt
adt based classification.png
ADT_dist_by_celltype.jpg
ADT_dist_total.jpg
gene based classification.png
gene_based_classification.png
Jupyter_notebook_direct_python_copy.py
neurips_training_set_proteins.txt
runs/Jun11_12-47-27_dbmr-975/events.out.tfevents.1749638847.dbmr-975.31632.0
runs/Jun11_12-50-33_dbmr-975/events.out.tfevents.1749639033.dbmr-975.31632.1
runs/Jun11_12-51-16_dbmr-975/events.out.tfevents.1749639076.dbmr-975.31632.2
runs/Jun11_13-07-47_dbmr-975/events.out.tfevents.1749640067.dbmr-975.31632.3
three_tissue_model_proteins.txt
Tabsap_bladder_gene_names.txt
