.Rproj.user
GSE194122_openproblems_neurips2021_cite_BMMC_processed.h5ad
padt
tadt
pbmc10k_prepared.rds
Pretrain.R
deriv_check.R
coeff_m
jacobian_input
jacobian_input_unstandardized
jacobians
lm_log.txt
mmultlog.txt
speedtest.txt
v
WJs
feature_importance_log.txt
feature_importance
model_full_neurips
training_set
Reproduce_training.R
check_model_performance.R
Compare_tissue_models.R
Check.R
ADT_CLR
ADT_raw
alternative_models.RData
feature_importance_breast
feature_importance_kidney1
feature_importance_lung
/FI_comparison_plots
Filtered_kidney_data.png
GEX_normed
GEX_normed_no_log
GEX_raw
Partition_prediction.png
Partition_predictions_groupings.png
/Prediction_evaluation_plots
sample_composition.png
Top50genes_overlap.png
Top_50genes_overlap_CD19_CD19.png
Top_50genes_overlap_CD326_EPCAM.png
Top_50genes_overlap_CD3_CD3E.png
/Tabula_sapiens_classifier_input
/Three_tissue_input_data
*.rds
